body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Roboto Condensed;
    background-color: #f0f0f0;
    transition: background-color 0.3s, color 0.3s; /*aggiunta transizione per dark mode*/;
}

.container {
    text-align: center;
}

#generaBtn {
    font-family: Roboto Condensed;
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

#numeroGenerato {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}

/*stile dark mode: */
.dark-mode-toggle{
    position: fixed;
    bottom: 20px;
    right:20px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;

}

/* stili per la darkmode*/
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode #generaBtn {
    background-color: #444;
    color: #fff;
}

body.dark-mode .dark-mode-toggle{
    background-color: #444;
    color: #fff;
}
